body, html
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
  color: #535353
  height: 100%
  font-size: 14px

.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

// border bottom
.bo-b
  border-bottom: 1px solid #D5D5D5;
// border right
.bo-r
  border-right: 1px solid #D5D5D5;
  